

body {

margin:  0 5%;

font-family: verdana, Georgia, arial, helvetica, sans-serif;

font-size: 1em;  /* default size */

color: #FFFF00;  /* text color */

background-image: url("homepageBackground.jpg"); /* background color */

text-align: center;
}

.heading {
      background:#EDE6BB ;
  color: #FFFFFF;
      padding: 1%;
      margin: 1% 22% 1% 22%;
      padding: 2%;
      text-align:center;
}
.content {
    background: #8BB6D8 ;
    color:white;
    margin: 1% 25% 1% 25%;
    padding: 2%;
    overflow:auto;




}

.border {
          margin:2% 5%;
          outline-style:dotted;
          outline-color:#A4FC7B;
          padding: 2% 5%;
          overflow:auto;
  }

.floatleft {
        width: 46%;
        padding:2%;
        float:left;
      }
.clear {
       clear:both;
       }

.footer{
        font-size:.9em;
        margin:1%;
        border:1px solid white;
        padding:1%;


}
/* now change anchor tag colors */
a:link {
         color: #A4FC7B;
    }
a:visited {
            color:purple;
  }
a:hover { background:white;
          color:pink;
        }

/* underline class */
.underline{ text-decoration:underline;}

/*square list style */
ul.square{ list-style-type:square;}File



